*{
    margin: 0;
    padding: 0;
}

body{
    width: auto;
    font-family: Merriweather;
    align-items: center;
    height: 100vh;
  
}
.main{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    position: relative;
    
}

section{
    width: auto;
    align-items: center;
    align-content: center;
}

.banner{
    width: auto;
    height: 600px;
    background-image: url(resources/banner_image.png);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.banner-meta-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
    
}

.deal-offers{
    margin-top: 120px;
    text-align: center;
    transition: .20s;
}

.deal-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .5s;
}

.deal-meta-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

.deal-cat-title{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

.new-year-pic{
    width: 802.9px;
    height: 500px;
    margin-top: 48px; 
    margin-bottom: 120px;
}

.event-banner{
    width: auto;
    height: 600px;
    background-image: url(resources/Vector.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 120px;
}


.event-title{
    color: #FFF;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.event-description{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    transition: .20s;
}



.event-btn{
    color: white;
    background-color: #F00;
    padding: 16px 35px;
    border: none;
    border-radius: 5px;
    margin-top: 48px;
}

.new-year-2024{
  mix-blend-mode: normal;
}

.event-btn:hover{
    background-color: #ff5722;
}

.event-time{
    width: auto;
    height: 600px;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    margin-bottom: 120px;
    background-repeat: no-repeat;
}

.event-title-place{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.red-text{
    color: #F00;
}

.event-title-date{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.event-title-time{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.upcoming-webinar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.webinar-1{
    
}

.best-offer{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.best-offer-title{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.best-offer-description{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}

.best-offer-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 26px;

}

.style-des-2{
    width: 276px;
}

.upcoming-webinar{
    display: flex;
    align-items: center;

}

.enjoy-pic{
    width: 364.844px;
    height: 364.844px;

}

.webinar-2{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}




.happy-newer-pic{
    width: 140px;
    height: 140px;
    margin-top: 16px;
}

.content-holyday{
    text-align: center;
    margin-bottom: 62px;
}

.holyday-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holyday-meta-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
}

.holyday-meta-span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    }



.holyday-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 28px;
    margin-bottom: 120px;
}
.box-gift{
    width: 520px;
    mix-blend-mode: screen;
}

.gift-box{
    position: relative;
    z-index: 5;
    top: 150px;
    left: 200px;
    mix-blend-mode: screen;

}

.discout-banner{
    position: relative;
    display: flex;
    justify-content: end;
    margin-bottom: 120px;
    
}

.model-pic{
    position: relative;
    right: 83px;
}



.discount-pic{
    position: relative;
    left: 60px;
    top: 50px;
}

.rection-red{
    position: relative;
    bottom: 124px;
}

.red-box{
    width: 1320px;
    height: 229px;
    background-image: url(resources/Rectangle\ 2.png);
    position: relative;
   z-index: 1;
   justify-content: right;
}



.discount-pic{
    position: relative;
    z-index: 2;
    padding-left: 200px;

    }
.model-pic{
    position: relative;
    justify-items: end;
    z-index: 1;
}

.call-icon{
    padding-right: 16px;
    align-items: center;
}

.web-icon{
    padding-right: 16px;
    align-items: center;
}




.best-portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}

.port-content{
    text-align: center;
}



.content-text{
    text-align: start;
    justify-content: start;
}

.portfolio-pic {
    display: grid;
    gap: 24px;
    width: auto;
    height: 450px;  
    margin-top: 48px;
    align-items: center;
    align-content: center;
    grid-template-columns: auto auto auto;
    
}

.pic-1{
    transition: transform 0.3s ease-in-out;
}

.pic-1:hover{
    transform: scale(1.2);
}

.pic-2{
    transition: transform 0.3s ease-in-out;
}

.pic-2:hover{
    transform: scale(1.2);
}

.pic-3{
    transition: transform 0.3s ease-in-out;
}

.pic-3:hover{
    transform: scale(1.2);
}


.pic-4{
    transition: transform 0.3s ease-in-out;
}

.pic-4:hover{
    transform: scale(1.2);
}


.pic-5{
    transition: transform 0.3s ease-in-out;
}

.pic-5:hover{
    transform: scale(1.2);
}


.pic-6{
    transition: transform 0.3s ease-in-out;
}

.pic-6:hover{
    transform: scale(1.2);
}


.portfolio-pic-1{
    display: grid;
    gap: 24px;
    width: auto;
    height: 450px;  
    margin-top: 24px;
    grid-template-columns: auto auto auto;
}

.newsletter-content{
    margin-bottom: 120px;
}

.email-pic{
    margin-bottom: 40px;
    padding: 0;
}

.newsletter-content{
    text-align: center;
    height: 616px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 80px;
}

.newsletter-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.input-layout{
    width: 648px;
    height: 72px;
    background-color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.box-newsletter{
    position: absolute;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin-top: 48px;
    margin-left: 200px;
    
}

.input{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    transition: .5s;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

input[type="text"] {
    background: white;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.submit{
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    left:-5px;
    top: 50;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #F00;
    color: rgb(255, 255, 255);
    text-align: center;
}

.submit:hover{
    background: #ff5722;
}

footer{
    width: auto;
    height: auto;
    background: #070211;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 120px;
    font-family: Inter;
}

.info-content{
    display: flex;
    color: white;
    justify-content: space-between;
}

.address{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.number {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    gap: 20px;
    line-height: 40px; 
}

.website{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    line-height: 40px; 
    margin-top: 8px;
}

.fa-phone {
    margin-right: 16px;
}

.fa-globe{
    margin-right: 16px;
}

.line-hr{
    margin-top: 50px;
    margin-bottom: 48px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    
}

.social-link{
    display: flex;
    text-align: center;
    justify-content: center;
}

.copyright{
    width: auto;
    display: flex;
    padding: 0;
    justify-content: space-between;
    color: white;
    padding-bottom:120px ;
}
